BODY {
	font-size:10pt;
	font-family: helvetica,arial, lucida sans, sans-serif
}

TH, TD, P, DIV, SPAN, .main, .redlink, INPUT, SELECT, TEXTAREA, FORM, UL, OL, DL, H1, H2, H3, H4, H5, H6, .sunfont {
	font-size:10pt;
	font-family: helvetica, arial, lucida sans, sans-serif
}

H1, H2, H3 {
	font-size:15pt;
	padding:0px
} 

H4 {
	font-size:10pt;
	margin:2px 0px;
	padding:0px
}

H5, H6 {font-size:10pt;margin:2px 0px;padding:0px}

div.sect1 {
	font-size:10pt;
	margin:10px 0px;
	padding:0px;
}
div.sect1.b {
	font-size:15pt;
	color:darkblue; 
}

div.sect2 {
	margin:0px 10px;
	padding:0px;
}

div.sect3 {
	margin:0px 15px;
	padding:1px;
}
div.toc {
	margin:0px 20px;
}

div.navtoc. {
	font-size:14pt;
}

div.navfoot {
}

	
H1 SPAN, H2 SPAN, H3 SPAN {font-size:16pt}
H4 SPAN {font-size:15pt}
H5 SPAN, H6 SPAN {font-size:12pt}
BIG, .big, BIG SPAN {
	font-size:12pt
}

SMALL, .small, SUP, BR, SMALL SPAN {
	font-size:9pt
}

PRE, CODE, KBD, TT {
	font-family: courier new,courier;
	font-size:10pt;
	color:#669; 
}

A:link 	{color:#669}
A:active 	{color:#F00}
A:visited 	{color:#336}
A:hover 	{color:#99C}

DT {font-weight:bold;padding-top:5px}
UL {list-style:disc}
UL UL {list-style:circle}
UL UL UL {list-style:square}
HR {color:#000;height:1px}

/* TEMPLATE CLASSES */
.gnlnk {color:#F90}
.brd {padding:3px 8px;font-weight:bold}
.mstmnu {padding-top:0px;padding-bottom:1px;padding-left:2px;margin-top:0px;margin-bottom:0px;float:left}
.srchbx {padding-top:0px;padding-bottom:1px;margin-top:0px;margin-bottom:0px;float:right}
.gfbtn {padding-left:3px;padding-right:3px}
.hde {visibility:hidden}
A.nonu:link, A.nonu:visited, A.nonuc:active {text-decoration:none;color:#000}
A.nonu:active, A.nonu:hover, A.nonuc:link, A.nonuc:visited {text-decoration:none;color:#F00}
A.nonuc:hover {text-decoration:none;color:#333}
TD.citm {padding-right:2px;color:#F00;text-align:right}
TD.itm {padding-right:2px;color:#000;text-align:right}
TD.rcitm {padding-right:2px;color:#F00;text-align:left}
TD.ritm {padding-right:2px;color:#000;text-align:left}
A.nonuw:link, A.nonuw:visited {text-decoration:none;color:#FFF}
A.nonuw:active {text-decoration:none;color:#F00}
A.nonuw:hover {text-decoration:none;color:#CCF}
A.undw:link, A.undw:visited {color:#FFF}
A.undw:active {color:#F00}
A.undw:hover {color:#CCF}
TD.tid {color:#FFF;font-weight:bold;padding-left:4px;text-indent:4px}
TD.wb1 {background:#C03;font-size:4pt}
TD.wb2 {background:#C90;font-size:4pt}
TD.wb3 {background:#CC3;font-size:4pt}
TD.wb4 {background:#F90;font-size:4pt}
TD.cpyftr {background:#000}
DIV.cpyftr {padding:3px 7px 7px 8px;color:#FFF}

/* CUSTOM CLASSES */
.prev-next {color:#C33;text-align:center}
.prev-next A:link, .prev-next A:visited, A.redlink:link, A.redlink:visited, A.redlink:active {color:#C33}
.prev-next A:hover, A.redlink:hover {color:#F00}
.frm, .bttn, SPAN.pull, SPAN.pull SELECT {background:#CCF;font-weight:bold;text-decoration:none;color:#000}
.linespace, P.intro {line-height:112%}
.just {text-align:justify}
.bold, TR.bold TD, TR.bold TH {font-weight:bold}
.italic, TR.italic TD, TR.italic TH {font-style:italic}
.whtbld {color:#FFF;font-weight:bold}
.blkbld {color:#000;font-weight:bold}
.redbld {color:#F00;font-weight:bold}
.blknote, .note {color:#000;font-weight:bold;text-transform:uppercase}
.rednote, .new {color:#F00;font-weight:bold;text-transform:uppercase}
.updated {color:#F00;font-weight:bold;text-transform:uppercase;letter-spacing:.2em}
P.intro {font-weight:bold;color:#669}
P.quote {color:#900;padding-left:4%;padding-right:4%}
P.credit {padding-left:60px;padding-right:30px}
P.compact {margin-top:0px}
A.blklink:link, A.blklink:visited, A.blklink:active {color:#000}
A.blklink:hover {color:#666}
TD.black, TH.black, TR.black TD, TR.black TH, TABLE TR TD.black, TABLE TR TH.black {background:#000;color:#FFF}
TD.promo, TH.promo, TR.promo TD, TR.promo TH, TABLE TR TD.promo, TABLE TR TH.promo {background:#FC6;color:#000}
TD.present, TH.present, TR.present TD, TR.present TH, TABLE TR TD.present, TABLE TR TH.present {background:#C60;color:#FFF}
TD.dkred, TH.dkred, TR.dkred TD, TR.dkred TH, TABLE TR TD.dkred, TABLE TR TH.dkred {background:#C33;color:#FFF}
TD.ltred, TH.ltred, TR.ltred TD, TR.ltred TH, TABLE TR TD.ltred, TABLE TR TH.ltred {background:#F99;color:#000}
TD.dkblue, TH.dkblue, TR.dkblue TD, TR.dkblue TH, TABLE TR TD.dkblue, TABLE TR TH.dkblue {background:#669;color:#FFF}
TD.dktan, TH.dktan, TR.dktan TD, TR.dktan TH, TABLE TR TD.dktan, TABLE TR TH.dktan {background:#C96;color:#000}
TD.lttan, TH.lttan, TR.lttan TD, TR.lttan TH, TABLE TR TD.lttan, TABLE TR TH.lttan {background:#FFC;color:#000}
TD.dkgrey, TH.dkgrey, TR.dkgrey TD, TR.dkgrey TH, TABLE TR TD.dkgrey, TABLE TR TH.dkgrey {background:#666;color:#FFF}
TD.ltgrey, TH.ltgrey, TR.ltgrey TD, TR.ltgrey TH, TABLE TR TD.ltgrey, TABLE TR TH.ltgrey {background:#CCC;color:#000}
TD.ltblue, TH.ltblue, TR.ltblue TD, TR.ltblue TH, TABLE TR TD.ltblue, TABLE TR TH.ltblue {background:#CCF;color:#000}
TD.white, TH.white, TR.white TD, TR.white TH, TABLE TR TD.white, TABLE TR TH.white {background:#FFF;color:#000}
TABLE.promo {background:#FC6}
TABLE.present {background:#C60}
TABLE.dkgrey {background:#666}
TABLE.ltgrey {background:#CCC}
TABLE.dkblue {background:#669}
TABLE.ltblue {background:#CCF}
TABLE.black {background:#000}
TABLE.white {background:#FFF}
TABLE.dkred {background:#C33}
TABLE.ltred {background:#F99}
TABLE.dktan {background:#C96}
TABLE.lttan {background:#FFC}
TABLE.pqt {margin:7px;padding:0px}
TABLE.pqt TD {background:#FFC;margin:0px;padding:0px}
DIV.pq {border:solid 1px #000;padding:5px 5px 0px 5px;margin:0px}
DIV.pq .quote {color:#000;font-weight:bold;padding:0px 0px 3px 0px;margin:0px}
DIV.pq .credit {font-weight:normal;padding:5px 0px 5px 0px;margin:0px}

	/* SUN.NET + MYSUN CLASSES */
A.btn:link, A.btn:visited {background:#CCF;text-decoration:none;color:#000;font-weight:normal}
A.btn:hover {background:#99C;text-decoration:none;color:#000;font-weight:normal}
A.btn:active {background:#C33;text-decoration:none;color:#FFF;font-weight:normal}
TD.appbx, TH.appbx, TR.appbx TD, TR.appbx TH {background:#DDD;color:#000}
TABLE.appbx {background:#DDD}
TD.appcnt, TH.appcnt, TR.appcnt TD, TR.appcnt TH {background:#FFF;color:#000}
TABLE.appcnt {background:#FFF}
.pipe {color:#669}
.tbar {background:#669;color:#FFF;font-weight:bold}

	/* OLD CLASSES + DO NOT USE */
.localheader {font-size:15px;text-decoration:none;color:#DDD;}
.locallink, .localsublink {font-size:12px;text-decoration:none;color:#DDD;font-weight:normal}
A:link
.nonu {text-decoration:none;color:#000}
.nonuw {text-decoration:none;color:#FFF}
A:visited
.nonu {text-decoration:none}
