/* tei.css */
body {background: white;
	padding-right: 1em;
	padding-left: 1em; 
	}


h1 {	margin-top: 18pt;
	font-family: sans-serif;
	color: green;
	}
h2 {	margin-top: 18pt;
	font-family: sans-serif;
	color: green;
	}
h3 {    color: green;
	font-family: sans-serif;
	font-style: italic;
	}
div.itemizedlist { 
	margin-top: 15pt;
	}

div.titlepage { 
	font-family: sans-serif;
	color: green;
	}
pre { 
        margin-left: 1em;
        color: red;
	}
tt { 
        color: red;
	}

/* */

