 //CERN/CNDIV/CERNLIB
                     /ALL
                         /CERNLIBS
                                  /KERNLIB
                                          /KERNASW
                                          /KERNNUM
                                          /KERNGEN
                                  /PACKLIB
                                          /EPIO
                                          /FFREAD
                                          /IOPACK
                                          /KAPACK
                                          /KUIP
                                          /HBOOK
                                          /MINUIT
                                          /VMIO
                                          /ZBOOK
                                          /ZEBRA
                                          /CDLIB
                                          /FATLIB
                                  /MATHLIB
                                          /LAPACK
                                          /MPA
                                          /BVSL
                                          /GEN
                                  /GRAFLIBS
                                           /GRAFLIB
                                           /GRAFGKS
                                           /GRAFGDDM
                                           /GRAFX11
                                  /PAWLIB
                                         /PAW
                                         /COMIS
                                         /SIGMA
                         /MCLIBS
                                /COJETS
                                       /COJETS
                                       /COJETSD
                                /EURODEC
                                        /EURODEC
                                        /EURODECD
                                /HERWIG
                                /ISAJET
                                /JETSET
                                       /JETSET
                                       /PYTHIA
                                /LEPTO
                                /PHOTOS
                                /PDFLIB
                                /TWISTER
                                /FRITIOF
                                /ARIADNE
                                /MCDOC
                                      /COJETSD
                                      /EURODECD
                                      /HERWIGD
                                      /ISAJETD
                                      /JETSETD
                                      /PYTHIAD
                                      /PHOTOSD
                                      /PDFLIBD
                                      /FRITIOFD
                                      /ARIADNED
                         /CERNPGM
                                 /PAWM
                                      /PAWGKS
                                      /PAWGDDM
                                      /PAWX11
                                 /KUIPC
                                 /FATSET
                                        /FATMEN
                                        /FATNEW
                                        /FATSRV
                                        /FATSEND
                                 /RZCONV
                                        /RTOA
                                        /RFRA
                                        /RTOX
                                        /RFRX
                                 /FLOP
                                 /TREE
                                 /ZSERV
                                 /PAWSERV
                                 /ZFTP
                                 /TELNETG
                                 /DZEDIT
                                        /DZEGKS
                                        /DZEGDDM
                                        /DZEX11
                                 /HIGZCONV
                                 /GRTREE
                                        /GRTGKS
                                        /GRTPS
                         /USERPGM
                                 /BANNER
                                 /GARFIELD
                                 /MAGNET
                                 /POISSON
                                 /TRSPRT
                                 /TURTLE
 
